/*Theme Color File*/

.sec-title .separator,
.about-company .inner-box .lower-content .separator{
	background:url(../../images/icons/seperater.png) center center no-repeat;
}

a,
.theme_color,
.scroll-to-top,
.btn-style-one:hover,
.main-header .info-box .icon-box,
.header-top .top-right .social-links a:hover,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a,
.fact-counter .column .counter-title,
.news-block .inner-box .overlay-box h4 a,
.news-block .inner-box .post-date,
.news-block .inner-box .meta-option li .icon,
.news-block .inner-box .overlay-box .read-more:hover,
.main-footer .footer-info-section .info-block .inner .icon,
.news-widget-block .inner .post-date,
.news-widget-block .inner .icon,
.link-list li a:hover,
.main-footer .footer-bottom .nav-column .footer-nav li a:hover,
.choose-section .owl-nav .owl-prev:hover,
.choose-section .owl-nav .owl-next:hover,
.service-block-two .inner-box:hover .icon-box,
.service-block-two .inner-box .content h3 a:hover,
.about-block .inner-box .content-column .content h3,
.page-info .bread-crumb li,
.page-info .bread-crumb li a:hover,
.page-info .share-icon a:hover,
.service-block-three .inner h3 a:hover,
.service-block-three .inner .sub-title,
.services-block-two .inner-box .icon-box,
.social-icon-two li a:hover,
.team-block .inner-box .lower-content h3 a:hover,
.team-block .inner-box .lower-content .designation,
.team-block .inner-box .lower-content ul li a:hover,
.history-block .inner-box .lower-content .content h3 a:hover,
.history-block .inner-box .lower-content .content .read-more:hover,
.services-block-two .inner-box:hover h3 a,
.about-company .inner-box .lower-content .bold-text,
.gallery-block .inner-box .lower-box h3 a:hover,
.gallery-block .inner-box .lower-box .designation,
.list-style-one li:before,
.author-info-box .author-inner .author-name,
.author-info-box .author-inner ul li .icon,
.project-new-posts .inner-box a:hover,
.accordion-box .block .acc-btn.active,
.list-style-two li:before,
.news-block-two .inner-box .lower-content .post-date:before,
.news-block-two .inner-box .lower-content h3 a:hover,
.news-block-two .inner-box .lower-content .read-more:hover,
.service-block-four .inner-box .icon-box,
.service-block-four .inner-box h4 a:hover,
.business-info-tabs .prod-tabs .tab-btns .tab-btn.active-btn,
.service-single-one .inner-box .lower-content .text blockquote .text,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.accordion-box .block .acc-btn.active .icon-outer,
.project-single-section .project-launch-section .info-column .inner-column ul li span,
.project-single-section .project-launch-section .info-column .inner-column ul li span:after,
.project-single-section .project-launch-section .content-column .sub-title,
.gallery-block .inner-box .image-box .overlay-box .content .icon,
.gallery-section .filters .filter.active, .gallery-section .filters .filter:hover,
.project-block .inner-box .overlay-box .overlay-inner .content .designation,
.testimonial-block .inner-box .upper-box .author-info .author-inner .location,
.testimonial-block-two .inner-box .location,
.blog-cat li a:hover,
.news-block-three .inner-box .lower-content .post-meta li .icon,
.sidebar .popular-posts .post-info:before,
.social-icon-four li a:hover,
.shop-item .inner-box .image .overlay-box .cart-option li a,
.comment-form .rating-box .rating a:hover,
.shop-item .inner-box .lower-content h3 a:hover,
.sidebar .related-posts .post .price,
.sidebar .related-posts .post .rating .fa,
.cart-table tbody tr .sub-total,
.cart-table tbody tr .remove-btn:hover,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.shop-item .inner-box .lower-content .rating .fa,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .details-header .rating,
.product-details .basic-details .expired,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.shop-comment-form .rating-box .rating a:hover,
.checkout-page .default-links li a,
.shop-item .inner-box .lower-content .price,
.contact-info-list li .icon,
.about-company .inner-box .lower-content .meet-team:hover,
.checkout-page .check-box label,
.blog-cat-two li a:hover:before, .blog-cat-two li a:hover,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.news-block-three .inner-box .lower-content h3 a:hover,
.blog-single .inner-box .lower-content .post-meta li .icon,
.blog-single .inner-box .lower-content .text .quote-column .designation,
.blog-single .inner-box .lower-content .post-share-options .tags a,
.sidebar .popular-posts .post a, .sidebar .popular-posts .post a:hover,
.history-btns .owl-prev:hover,
.history-btns .owl-next:hover{
	color:#fa9928;
}

/*Background Color*/
.btn-style-one,
.btn-style-two:hover,
.scroll-to-top:hover,
.main-menu .navigation > li > a:after,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.header-top .language .dropdown-menu > li > a:hover,
.main-header .outer-box .consult-btn,
.main-slider .tparrows.gyges:hover,
.btn-style-three:hover,
.call-to-action,
.btn-style-four:hover,
.history-btns li:hover,
.history-btns li.active-btn,
.main-footer .footer-widget h2:after,
.services-block .inner-box .lower-box .hover-title .arrow-box,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.testimonial-section .owl-dots .owl-dot.active span,
.testimonial-section .owl-dots .owl-dot:hover span,
.gallery-section .filters .filter.active::after,
.gallery-section .filters .filter:hover::after,
.project-single-section .detail-section h2:after,
.project-single-section .detail-section .graph-box .graph-title,
.styled-pagination li a:hover, .styled-pagination li a.active,
.gallery-block .inner-box .image-box .overlay-box .content .icon:hover,
.faq-section .prod-tabs .tab-btns .tab-btn.active-btn,
.faq-section .prod-tabs .tab-btns .tab-btn:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.consult-section .consult-form-box h2:after,
.sidebar .sidebar-category .list li a:hover,
.sidebar .sidebar-category .list li.current a,
.sidebar-brochure .brochure:hover,
.business-tab-section h3:after,
.consult-section-two h3:after,
.service-single-two .inner-box h2:after,
.analysic-section h3:after,
.service-single-three .inner-box h2:after,
.list-style-three li:before,
.news-block-two .inner-box .image .tag,
.sidebar .search-box .form-group button,
.sidebar .popular-tags a:hover,
.social-icon-three li a:hover,
.related-products h2:after,
.cart-table tbody .available-info .icon,
.news-block-three .inner-box .image .tag,
.cart-section .coupon-outer .cart-btn:hover,
.checkout-form .checkout-title h2:after,
.sidebar-page-container .group-title h2:after,
.service-single-three .inner-box .default-section .column h3:after,
.service-single-three .inner-box .graph-section h3:after,
.service-single-one .inner-box .lower-content .text h3:after,
.service-single-one .inner-box .lower-content h2:after,
.checkout-page .lower-content .column h2:after,
.register-section .form-column .form-title h2:after,
.shop-item .inner-box .image .overlay-box .cart-option li a:hover,
.shop-item .inner-box .image .overlay-box .cart-option li .tooltip-data,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default{
	background-color:#fa9928;
}


/*Border Color*/

.btn-style-one,
.scroll-to-top,
.header-top .language .dropdown-menu,
.main-menu .navigation > li > ul,
.btn-style-two:hover,
.btn-style-three:hover,
.history-btns li:hover,
.main-menu .navigation > li > ul > li > ul,
.main-header .outer-box .consult-btn,
.main-header .header-lower .search-box-outer .dropdown-menu,
.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus,
.choose-section .owl-nav .owl-prev:hover,
.choose-section .owl-nav .owl-next:hover,
.testimonial-section .owl-dots .owl-dot.active span,
.testimonial-section .owl-dots .owl-dot:hover span,
.testimonial-section .owl-dots .owl-dot span,
.btn-style-four:hover,
.sidebar .popular-tags a:hover,
.cart-table tbody tr .remove-btn:hover,
.business-info-tabs .prod-tabs .tab-btns .tab-btn.active-btn,
.sidebar-brochure .brochure:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.faq-form .form-group input:focus, .faq-form .form-group textarea:focus,
.styled-pagination li a:hover, .styled-pagination li a.active,
.accordion-box .block .acc-btn.active .icon-outer,
.default-form .form-group input:focus, .default-form .form-group textarea:focus,
.consult-form-two .form-group input[type="text"]:focus,
.consult-form-two .form-group input[type="password"]:focus,
.consult-form-two .form-group input[type="tel"]:focus,
.consult-form-two .form-group input[type="email"]:focus,
.consult-form-two .form-group select:focus,
.consult-form-two .form-group textarea:focus,
.blog-cat li a:hover::before,
.social-icon-three li a:hover,
.checkout-page .default-links li,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shipping-form .form-group input:focus,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.styled-form input:focus,
.styled-form select:focus,
.styled-form textarea:focus,
.subscribe-style-one .form-group input[type="email"]:focus,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.history-btns .owl-prev:hover,
.history-btns .owl-next:hover,
.history-btns li:hover,
.history-btns li.active-btn{
	border-color:#fa9928;
}

.shop-item .inner-box .image .overlay-box .cart-option li .tooltip-data:after{
	border-top-color:#fa9928;
}

/*RGBA Color Light*/
.video-box:hover .overlay-box{
	background-color:rgba(250,153,40,0.40);
}

/*RGBA Color Dark*/

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#fa9928;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#fa9928;
	}
	
}